.mainNav {
    position: fixed;
    top: 0;
    left: 0;
    /* Use a vertical gradient from your example (purple to bluish) */
    background: linear-gradient(90deg, #0079FF, #662CDD);
    width: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem; /* spacing between icons */
  }
  
  .mainNavItem {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
  }
/*   
  .mainNavItem:hover {
    opacity: 0.8;
  } */
  
  .mainNavItemActive {
    opacity: 1;
    background: #1e293b;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }
  