.nav {
    display: flex;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: hsl(var(--background));
    border-bottom: 1px solid hsl(var(--border));
  }
  
  .spacer {
    flex: 1;
  }

  .icon {
    color: black;
  }