.subNav {
    position: fixed;
    top: 0;
    left: 60px; /* offset by the width of the MainNav */
    width: 180px;
    height: 100vh;
    background-color: rgb(30, 41, 59); /* or your custom background color */
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  
  .subNavItem {
    /* Existing styles */
    background: none;
    border-radius: 30px;
    color: white;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    text-align: left; /* Left-align text */
    display: flex; /* Use flexbox to align the icon and text */
    align-items: center; /* Vertically center icon and text */
    gap: 0.5rem; /* Space between icon and text */
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
    border-width: 2px;

    transition: 
        border-color 0.3s ease,  /* Smoothly change border color */
        box-shadow 0.3s ease,    /* Smoothly add/remove box-shadow */
        color 0.3s ease;         /* Smoothly change text/icon color */
  }
  
  
  .subNavItem:hover {
    border-width: 2px;
    border-color: #ff990083;
  }
  
  
  .subNavItemActive {
    background-color: #131D2D;
    border-width: 2px;
    border-color: #FF9800;
    font-weight: 600;
  }
  
  